.tituloConsultar{
		font-family: Arial, Helvetica, sans-serif; 
		color: #FFFFFF; 
		background-color:#2798D9;
		font-size: 22px; 
}
.botonbuscar{
		font-size:13px;
        font-family:Arial, Helvetica, sans-serif;
        color:white;
        background:#FC1D00;
        border:1px;
        width:83px;
        height:21px;
}

.botonpestañas{
		font-size:13px;
        font-family:Arial, Helvetica, sans-serif;
        color:white;
        background:#000B55;
        border: 1px solid #FFFFFF;
		text-align:center;
		text-bottom:center;
		text-indent:center;
        width:95px;
        height:25px;
		
}

.tablafiltro{
font-size:13px;
font-family:Arial, Helvetica, sans-serif;
}