
/*CSS Plantilla Principal*/
#principal{
    margin:0px;
    width:99.6%;
        
}
#header{
    width: 100%;
}
#header2{
    width: 100%;
}       

#header2 table tr{
    width: 100%;
	}                
#header table thead, td{
    vertical-align:top;
}
#header table tfoot{
    vertical-align:top;
}
#logo{
    width: 140px;
    height: 60px;
}

#pestana{
    width:100%; 
    height:20px; 
    background-color:#0d4299;
}

#piePagina
{
    font-size: 12px;
    color:#A0A0A4; 
    text-align:right;
}
#banner{
    height:1px;
    width:100%;
}
iframe
{
    width:100%;
    height:460px;
}
.santoral
{
    width:100%;
    height:100px;
}
a.link{
    line-height: 1.35em;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    white-space: nowrap;
    float: left;
    color: #BFBFBF;
    font-size: 13px;
    border-right: #ffffff 1px solid;
    text-decoration: none;
    font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

a.link:hover {
    color: #FF0000;
    text-decoration: none;
    font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

ul.menu{
    width:100%; 
    height:20px; 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.menu li {
    float: left;
}
ul.menu li.submenu{
    display: inline-block;
}

.submenu-contenido{
    background-color: #0d4299;
    display: none;
    position: absolute;
    min-width: 10px;
    margin-top: 15px;
    padding-top: 5px;
}
.submenu-contenido a {
    border-top: #ffffff 1px solid;
    float: none;
    text-decoration: none;
    text-align: left;
    display: block;
}
.submenu:hover .submenu-contenido {
    display: block;
}


a.email:link{
    font-size: 12px;
    text-align:right; 
    color:#A0A0A4;
}
a.email:hover{
    font-size: 12px; 
    text-align:right; 
    color: #FF0000;
}
.tituloModulo{
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    color: #000000; 
    font-size: 14px;
    text-align: right; 
	
}
.tituloSolicitud{
    font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    color: #FFFFFF; 
    background-color:#2798D9;
    font-size: 30px; 
    border-radius: 6px;
}

/* ESCRITORIO */
#imagenInicio
{
    width:400px;
}

#labelWelcome
{
    font-family:"Calibri";
    display: block;
    font-size: 1.5em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

#noticia{
    background:#FFFFFF;
    width:500px;
    height:300px;
    position:static;
    display: block;
    overflow: auto;
    font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}
#headerTd
{
    width:600px;
    margin: auto;
    padding: 10px;
}

.titulos
{
    font-size:15px;
    color:#609DCA;
}

.fechas
{
    vertical-align:top;
    color:#A8A8A8;
    font-size:12px;
                
}
.nombres
{
    font-size:12px;
    color:#A8A8A8;
}


.titulos
{
    font-size:15px;
    color:#609DCA;
}

.fechas
{
    vertical-align:top;
    color:#A8A8A8;
    font-size:12px;
	 
}

.nombres
{
    font-size:12px;
    color:#A8A8A8;
}
#indicadoresTitle
{
    color:#FFFFFF;
    text-align:center;
    background:#A0A0A4;
}

.datosIndicadores
{
    text-align:center;
    font-size:12px;
    font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

#tiempoImg
{
    text-align:center;
}

.right {
    float: right;
    padding: 10px;
}

.left {
    float: left;
    padding: 10px;
}

.centerCli {
    margin: auto;
     white-space: nowrap;
}
.center {
    margin: auto;
    padding-left: 100px;
}
/* Css Actividad Comercial*/
.botonera{
    background-color:#2C6DB2; 
    color:#FFF;  
    font-size:14px; 
    cursor:pointer; 
    border-radius:5px;
    width:100px;
    height:25px;
}
.botonera:hover {
    background-color:#6EA2DA; 
    color:#FFF; 
    font-size:14px; 
    cursor:pointer; 
    border-radius:5px;
    width:100px;
    height:25px;
}

.botonera10{
    background-color:#2C6DB2; 
    color:#FFF;  
    font-size:14px; 
    cursor:pointer; 
    border-radius:5px;
    width:140px;
    height:25px;
}
.botonera10:hover {
    background-color:#6EA2DA; 
    color:#FFF; 
    font-size:14px; 
    cursor:pointer; 
    border-radius:5px;
    width:140px;
    height:25px;
}

.likebutton
{
    background-color:#2C6DB2; 
    color:#FFF;  
    font-size:12px; 
    cursor:pointer; 
    border-radius:5px;
    width:100px;
    height:20px;
    font-family:Calibri;
    border: solid 2px #FAFAFA;
    text-decoration: none;
    padding: 1px 23px;
    cursor:pointer;
}
.tblCliActualiza{
    left: 5px !important;
    position: relative; 
}
.tablafiltrar{
    border: solid #666666;
    font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    border-radius: 6px;
}
#buscar{
    width:200px;
    text-align:right;
}
/* Css Actualiza Actividad Comercial*/
#ali{
    padding:10px;
}
img.ico{
    padding-top:20px;
}
#alineacionEstados{
    border-bottom:1px solid #008000;
    border-left:1px solid #008000;
    vertical-align:top;
    padding: 10px;
}
#margen {
    /*padding-top:20px;*/
}

#margenblanco {
    padding-top:0px;
}

#fondo{
    background: #DFFFDE;
}
#bottom{
    padding-top: 20px;
}
.distribucion{
    background-color: #800000; 
    color:#FFF;  
    font-size:12px; 
    cursor:pointer; 
    border-radius:5px;
    width:110px;
    height:20px;
}

/*<!--SELECCION CLIENTES-->*/
#columnaBoton
{
	float: right;
	padding:10px;
	width:200px;
}
/*Css Distribucion*/
img.boton{
padding-right:30px;
padding-top: 20px;
}
img.check{
padding-top:60px;
padding-left: 20px;
}
select.distri{
	WIDTH: 200px;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	FONT-SIZE: 12px;
}
#tablaDistribucion #tblDistribucion{
	width: 890px;
}
#ckbox_esc_vig{
    width: 15px;   
}
/*Css Configuracion*/
.espacioTablas{
	padding-right: 30px;
	height:100px;
	width: 750px;
}
/*Css Comision Ventas*/
#cierreDeMes {
    margin: auto;
    padding: 10px;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size:15px;
}
#historialEstados{
	
	position:static;
	display:block;
	height:100px;
	overflow:auto;
}

#tablaGeneral {
	margin:15px;
	
}

#tablaGeneralTd
{
	width:427px;     
	 
}
#tblComision{
    height: 300px;
}
/*Codigo Por Sistemas SA 21/10/2015*/
 
.formularioIngresar{
	font-size:12px;
	border:1px solid #008000;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	border-radius: 6px;
}
.formularioIngresar td{
	padding:0px;
	padding-right: 1px;
	font-size:12px;
	}
input{
	width:70px;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	FONT-SIZE: 12px;
}

input[type="checkbox"]
{
    	width:20px;
}

.nombre{
	width:300px;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	FONT-SIZE: 12px;
        
        
}
.direccion{
	width:370px;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	FONT-SIZE: 12px;
        
        
}
.contacto{
	width:157px;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	FONT-SIZE: 12px;              
}

.descripcion{
	width:350px;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	FONT-SIZE: 12px;              
}

.estado{
	width:130px;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	FONT-SIZE: 12px;              
}

.inputOtro{
    width:130px;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	FONT-SIZE: 12px;
}
select{
	width: 105px;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	FONT-SIZE: 12px;
}
#slt_factura_excenta
{
	width: 50px;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	FONT-SIZE: 12px;
}
#txt_actComercial_supervisor, #txt_actComercial_nomEje, #txt_actComercial_TipoNegocio,
#slt_actComercial_status{
    width: 170px;
    font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    FONT-SIZE: 12px;
}
#slt_actComercial_TipoNegocio, #slt_actComercial_serviMovil, #slt_usr_tipoNegocio, 
#slt_detalleComercial_PlanNue, #slt_detalleComercial_planAnt, #slt_filtroComercial_tipoNegocio{
	width: 210px;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	FONT-SIZE: 12px;
}
textarea{
    font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    FONT-SIZE: 12px;
    resize: none;
}
#Area{
    padding-right: 20px;
}

.letra{
font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
 font-size:15px;
 width: 130px;
 }

.etiqueta
{
	font-size:16px;
	font-family:Calibri;
}
#EspacioDetalle{
    padding-right: 45px;
}
#slt_actComercial_supervisor,#slt_actComercial_vendedor{
    width: 170px;
	font-family:Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	FONT-SIZE: 12px;
}
#rd_comision_DE{
    width: 15px;
}
#rd_comision_PA{
    width: 15px;
}
#ActCom_NomEje{
    width: 100px;
}
#ActCom_NomCli{
    width: 150px;
}
#tblDistribucion{
    width: 800px;
}

/*
Estilo para los inputs con readonly con apariencia de disabled
*/
.readonly{
    background-color: #f0f0f0;
    border: 1px solid #cccccc;
    color: #6d6d6d;
}